<h1 class="aba">Angular Search Autocomplete with Php and MySql</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-3 mx-auto mt-20">
            <form [formGroup]="searchForm">
                <div class="input-group abl">
                    <input type="search" 
                        class="form-control rounded-5"
                        formControlName="search" 
                        placeholder="Search User ..."
                        (keyup)="sendData($event)" />
                    <span class="fcf">
                        <i class="bi bi-search"></i>
                    </span>
                </div>
                @if (ifSearch) {
                    <li class='abb abc abd abf' >
                        <ul class='abh' slimScroll [options]="opts" [scrollEvents]="scrollEvents">
                            @for (user of users; track user.id ) {
                                <a (click)="onSelectUser(user)">
                                  {{user.username}} {{user.name}} {{user.email}}
                                </a>
                                <hr class="abe">
                              }
                        </ul>
                    </li>
                  }
            </form>
        </div>
    </div>
</div>